#bootstrap-overwrite .dnfinput{
  display: none;
}


#bootstrap-overwrite .dnfupload{
  display: none;
}


#bootstrap-overwrite .dnfdesc{
  margin-top: 300px;

}

#bootstrap-overwrite #desc-edit{
  font-size: 200pt;
}

#bootstrap-overwrite #desc-upload{
  font-size: 200pt;
}